.main-content {
  padding: 0 24px;
}

.top-page {
  &__img {
    width: 80%;
  }
  &__concept {
    &__area {
      font-size: clamp(32px, 5vw, 80px);
      width: auto;
      padding: 0.5em 1em;
      left: 1em;
      bottom: 1.5em;
    }
    &__messeage {
      > span {
        font-size: clamp(32px, 4.5vw, 80px);
      }
    }
  }
}

.about,
.daily {
  width: min(100%, 1080px);
  margin: 200px auto 0;
  &__img {
    .img {
      width: min(40vw, 480px);
      height: 320px;
    }
  }
  &__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > .title {
      font-size: clamp(24px, 2vw, 32px);
    }
    > .button {
      text-align: left;
      > a {
        padding: 16px 48px 16px 24px;
      }
    }
  }
}

.about {
  &__texts {
    margin-left: 40px;
  }
}

.daily {
  &__texts {
    margin-right: 40px;
    margin-left: 0;
  }
}

.flex {
  flex-direction: row;
  &.daily__inner {
    flex-direction: row-reverse;
  }
}
