.header {
  height: 120px;
  &__inner {
    margin: 0 56px 0 64px;
  }
  &__nav {
    display: block;
  }
}

.mobile-menu__btn {
  display: none;
}

.logo {
  font-size: 24px;
  &__img {
    width: 32px;
    margin-right: 4px;
    vertical-align: bottom;
  }
}

.mobile-menu__btn {
  display: none;
}

.top-page {
  padding-top: 120px;
}

.info {
  &__headline {
    font-size: 32px;
  }
  &__inner {
    justify-content: space-between;
    margin: 64px auto 0;
    max-width: 800px;
  }
  &__card {
    &:nth-child(n + 3) {
      margin-top: 0;
    }
  }
}
